.container {
  button {
    background-color: coral;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
  }
  .card {
    margin: 5vh 0;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(39, 118, 184);
    
    .head {
      display: flex;
      font-size: 1.2em;
      justify-content: space-between;
    }
    p{
      padding: 15px;
    }
  }
}
