.container {
  span {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vh;
  }
  input {
    border: 1px solid black;
    border-radius: 25px;
    padding: 3px 27px;
    width: 50vw;
  }
  textarea {
    border: 1px solid black;
    border-radius: 25px;

    height: 15vh;
    width: 60vw;
    padding: 7px 12px;
  }
  .Heading {
    text-align: center;
    margin-bottom: 3vh;
  }
  .task {
    border: 1px solid black;
    border-radius: 25px;
    padding: 3vw;
    margin-bottom: 4vh;
  }
  label{
    font-weight: 400;
  }
  .taskList {
    border: 1px solid black;
    border-radius: 25px;
    padding: 3vw;
  }
}
